# 分类变量

adult 数据集的任务是预测一名工人的收入是高于50 000 美元还是低于50 000 美元这个数据集的特征包括工人的年龄、雇用方式(独立经营、私营企业员工、政府职员等).教育水平、性别、每周工作时长、职业，等等。下表给出了该数据集中的前几个条目。

In [4]:
import os
import pandas as pd
import mglearn
adult_path = os.path.join(mglearn.datasets.DATA_PATH, "adult.data")
data = pd.read_csv(
    adult_path, header=None, index_col=False,
    names=['age', 'workclass', 'fnlwgt', 'education',  'education-num',
           'marital-status', 'occupation', 'relationship', 'race', 'gender',
           'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
           'income'])
# For illustration purposes, we only select some of the columns
data = data[['age', 'workclass', 'education', 'gender', 'hours-per-week',
             'occupation', 'income']]
# IPython.display allows nice output formatting within the Jupyter notebook
display(data.head(10))

,age,workclass,education,gender,hours-per-week,occupation,income
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K
5,37,Private,Masters,Female,40,Exec-managerial,<=50K
6,49,Private,9th,Female,16,Other-service,<=50K
7,52,Self-emp-not-inc,HS-grad,Male,45,Exec-managerial,>50K
8,31,Private,Masters,Female,50,Prof-specialty,>50K
9,42,Private,Bachelors,Male,40,Exec-managerial,>50K

这个任务属于分类任务，两个类别是收入 <=50k 和>50k。也可以预测具体收入，那样就变成了一个回归任务。但那样问题将变得更加困难，而理解 50K 的分界线本身也很有趣。

在这个数据集中，age(年龄)和hours-perweek (每周工作时长) 是连续特征，我们知道如何处理这种特征。但workclass (工作类型)、education (教育程度)、gender (性别)occupation (职业)都是分类特征。它们都来自一系列固定的可能取值 (而不是一个范围)，表示的是定性属性(而不是数量)。·

首先，假设我们想要在这个数据上学习一个Logislie 回归分类器。我们在前面学过Logistic 回归利用下列公式进行预测，预测值为:

y = w[0] * x[0] + w[1] * x[1] + ... + w[p] * x[p] + b > 0

其中w门和b是从训练集中学到的系数， 是输入特征。当 是数字时这个公式才有意义，但如果x2]是“Masters"或“Bachelors”的话，这个公式则没有意义。显然，在应用Logistic 回归时，我们需要换一种方式来表示数据。